*{
  font-family: 'Cedarville Cursive', cursive;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 2rem;
}
.bg{
  background-image: image-set("https://images.unsplash.com/photo-1542395975-d6d3ddf91d6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
